/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* Custom Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
}

header {
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #3DE07E;
    color: #222222;
    padding: 1rem 1rem 0 1rem;
}

header aside {
    align-self: flex-start;
}

header h1 {
    font-size: 4rem;
}

.wrapper {
    width: 80%;
    max-width: 1100px;
    min-height: calc(100vh - 400px - 300px);
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    align-items: start;
    gap: 0.5rem;
}

.wrapper h2 {
    font-size: 3rem;
}

.card h2,
.big-card h2 {
    font-size: 2rem;
}

.big-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    max-width: 450px;
    background-color: #FFFFFF;
    color: #222222;
    margin: 0 auto;
}

.big-cards-wrapper {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.big-card section {
    padding: 1rem;
}

.big-card p {
    margin-bottom: 3rem;
}

.wrapper button {
    background-color: #E83F57;
    color: #FFFFFF;
    border: none;
    padding: 0.25rem 1rem;
    border-radius: 5px;
}

.wrapper button:hover {
    background-color: #851f2d;
    cursor: pointer;
}

.wrapper .big-card button {
    padding: 0.5rem 1rem;
}

footer {
    background-color: rgba(255, 255, 255, 0.2);
}

.footer-links {
    display: flex;
    max-width: 80%;
    max-width: 1100px;
    height: 200px;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    padding-top: 2rem;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-links h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons img {
    width: 28px;
    height: auto;
}

table {
    align-self: center;
    width: 100%;
    border-collapse: collapse;
    font-size: 1.3rem;
}

th {
    background-color: #ED363633;
    text-align: left;
    height: 2rem;
    font-size: 1rem;
}

td {
    height: 3rem;
}

tfoot {
    height: 4rem;
    font-weight: bold;
    border-top: #FFFFFF 2px solid;
}

.order-button {
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: auto;
    margin-top: 3rem;
}